<div class="container mt-5">
  <div class="row" id="products">
    <div class="col-3 mt-5 " *ngFor="let product of products">
      <div class="card">
        <div
          class="bg-image hover-overlay ripple"
          data-mdb-ripple-color="light"
        >
          <img
            src="{{ product.image }}"
            class="img-fluid center h-5 "
            id="Image"
            style="height: 200px"
          />
          <a href="#!">
            <div
              class="mask"
              style="background-color: rgba(251, 251, 251, 0.15)"
            ></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title" id="Title">{{ product.title }}</h5>
          <p class="card-text">{{ product.description .substring(0, 50) }}</p>
          <p class="card-text">{{ product.price }}</p>

          <div class="w-100 d-flex justify-content-center" id="Description">
            <a href="#!" class="btn btn-primary w-70" (click)="addtocart(product.id)">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
